* {
	margin: 0;
	padding: 0;
}

#title {
	width: 100%;
  min-width:800px;
	margin: 0;
	text-align: center;
	background-color: sandybrown;
}

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: #213547;
	background-color: #ffffff;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	/* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */
}
/* 
hr {
  border: none;
  border-top: 1px double #333;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;
}

hr:after {
  background: #fff;
  content: 'OR';
  padding: 0 4px;
  position: relative;
  top: -13px;
} */
